# TP3 - DB Normalization and Querying

The objectives of this TP are:
1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this TP, we will use a database **`wine.db`** (available in the course's website) containing wine information related to 'production' and 'sales'. 

> Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [1]:
import sqlite3    # Python interface for SQLite databases

In [28]:
def printSchema(connection):
    # Function to print the DB schema
    # Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [29]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
  4: REGION(TEXT)
production:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
sales1:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
sales2:
  0: NB(NUM)
  1: NV(NUM)
  2: QTE(NUM)
  3: DATES(NUM)
  4: LIEU(TEXT)
wine1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
wine2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

From this point we will use __%%sql__ magic

In [30]:
%load_ext sql
%sql sqlite:///wine.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables **Master1** and **Master2** are in the First Normal Form (1NF).

By inspecting the content of these tables we can see that multiple tuples have NULL values.

In [31]:
%%sql SELECT NV, NP
FROM Master1;

 * sqlite:///wine.db
Done.

[(None, 3),
 (None, 6),
 (None, 8),
 (None, 16),
 (None, 17),
 (None, 18),
 (None, 19),
 (None, 20),
 (None, 21),
 (None, 26),
 (None, 28),
 (None, 29),
 (None, 31),
 (None, 32),
 (None, 33),
 (None, 34),
 (None, 37),
 (None, 39),
 (None, 41),
 (None, 44),
 (None, 47),
 (None, 48),
 (None, 49),
 (None, 51),
 (None, 53),
 (None, 57),
 (None, 58),
 (None, 61),
 (None, 62),
 (None, 66),
 (None, 77),
 (None, 83),
 (None, 91),
 (None, 92),
 (None, 94),
 (None, 96),
 (None, 97),
 (None, 100),
 (None, 101),
 (None, 102),
 (None, 103),
 (None, 104),
 (None, 105),
 (None, 106),
 (None, 108),
 (None, 109),
 (None, 110),
 (None, 111),
 (None, 112),
 (None, 113),
 (None, 114),
 (None, 115),
 (None, 116),
 (None, 117),
 (None, 118),
 (None, 119),
 (None, 121),
 (None, 122),
 (None, 123),
 (None, 124),
 (None, 125),
 (None, 126),
 (None, 127),
 (None, 129),
 (1, 1),
 (1, 73),
 (2, 5),
 (3, 1),
 (4, 10),
 (5, 30),
 (6, 42),
 (7, 98),
 (8, 90),
 (9, None),
 (10, 98),
 (11, 5),
 (12, 7),
 (12, 43),
 (12, 89),
 (13, 13),
 (14, 86),
 (15, 80),
 (16, 38),
 (17, 95),
 (18, 40),
 (19, 7),
 (20, 50),
 (21, 5),
 (22, 86),
 (23, 86),
 (24, 36),
 (25, 95),
 (26, 43),
 (27, 99),
 (28, 50),
 (29, 50),
 (30, 22),
 (31, 50),
 (32, 9),
 (32, 72),
 (33, 60),
 (34, 4),
 (35, 10),
 (35, 23),
 (36, 93),
 (37, 54),
 (38, 52),
 (39, 52),
 (40, None),
 (41, 76),
 (42, 82),
 (43, 13),
 (43, 72),
 (43, 85),
 (44, 93),
 (45, 2),
 (45, 67),
 (45, 71),
 (45, 78),
 (45, 86),
 (46, 64),
 (47, 52),
 (48, 93),
 (49, 2),
 (50, 2),
 (51, 15),
 (52, 40),
 (53, 40),
 (54, 1),
 (54, 2),
 (54, 14),
 (54, None),
 (55, 14),
 (56, 24),
 (57, 40),
 (58, 45),
 (59, 45),
 (60, 50),
 (60, 60),
 (61, 90),
 (62, 60),
 (63, None),
 (64, 72),
 (64, 85),
 (65, 12),
 (65, 25),
 (66, None),
 (67, 5),
 (67, 10),
 (67, 82),
 (68, 12),
 (69, 9),
 (69, 12),
 (69, 69),
 (70, 38),
 (71, 38),
 (72, 52),
 (73, 38),
 (74, 70),
 (74, 72),
 (74, 84),
 (75, 38),
 (76, 46),
 (76, 85),
 (77, 85),
 (78, 4),
 (78, 27),
 (78, 30),
 (78, 68),
 (78, 80),
 (79, 74),
 (79, 79),
 (79, 81),
 (80, 90),
 (81, 90),
 (82, 43),
 (82, 80),
 (83, 95),
 (84, 95),
 (85, 55),
 (86, 93),
 (87, 38),
 (87, 45),
 (87, 72),
 (88, 55),
 (89, 15),
 (89, 42),
 (89, 55),
 (89, None),
 (89, 89),
 (90, 56),
 (90, 95),
 (91, 79),
 (92, 11),
 (93, 79),
 (94, 11),
 (94, 27),
 (95, 95),
 (96, 59),
 (97, 70),
 (98, 24),
 (98, 35),
 (98, 75),
 (98, 76),
 (98, 88),
 (99, 5),
 (99, 99),
 (100, 25),
 (101, 70),
 (107, 107)]

* Notice that Jupyter *displays* 'None' instead of 'NULL'. 
  - This is only to comply with python notation.
* To account for NULL values, your SQL queries must test explicitly for 'NULL'.

Another problem in **Master1** and **Master2** is data redundancy, for example:

In [32]:
%%sql SELECT *
FROM Master1
WHERE NV = 45;

 * sqlite:///wine.db
Done.

[(45, 'Chiroubles', None, 1983, 90, 2, 'Boxler', 'Albert', 'Alsace'),
 (45, 'Chiroubles', None, 1983, 912, 67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (45, 'Chiroubles', None, 1983, 98, 71, 'Chalandard', 'Danile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 540, 78, 'Michlel', 'Pierre Emile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 450, 86, 'Dumazet', 'Marc', 'Rhone')]

---

Additional resource for Normalization:

https://www.youtube.com/watch?v=UrYLYV7WSHM

---

#### Exercise 1.1

Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NP -> NOM, PRENOM, REGION

NV, NP -> QTE


Convert table **Master1** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.
  
Remember that **`wine.db`** contains information related to wine 'production' and 'sells'.

> Production <---> Wine <---> Sales

In [33]:
# Source code

def to_set(x):
  """Convert input int, string, list, tuple, set -> set"""
  if type(x) == set:
    return x
  elif type(x) in [list, set]:
    return set(x)
  elif type(x) in [str, int]:
    return set([x])
  else:
    raise Exception("Unrecognized type.")

def fd_to_str(lr_tuple):
    lhs = lr_tuple[0]
    rhs = lr_tuple[1]
    return ",".join(to_set(lhs)) + " -> " + ",".join(to_set(rhs))

def fds_to_str(fds): return "\n\t".join(map(fd_to_str, fds))

def set_to_str(x): return "{" + ",".join(x) + "}"

def fd_applies_to(fd, x): 
    lhs, rhs = map(to_set, fd)
    return lhs.issubset(x)

def print_setup(A, fds):
    print("Attributes = " + set_to_str(A))
    print("FDs = \t" + fds_to_str(fds))

def print_fds(fds):
    print("FDs = \t" + fds_to_str(fds))    
    
def compute_closure(x, fds, verbose=False):
    bChanged = True        # We will repeat until there are no changes.
    x_ret    = x.copy()    # Make a copy of the input to hold x^{+}
    while bChanged:
        bChanged = False   # Must change on each iteration
        for fd in fds:     # loop through all the FDs.
            (lhs, rhs) = map(to_set, fd) # recall: lhs -> rhs
            if fd_applies_to(fd, x_ret) and not rhs.issubset(x_ret):
                x_ret = x_ret.union(rhs)
                if verbose:
                    print("Using FD " + fd_to_str(fd))
                    print("\t Updated x to " + set_to_str(x_ret))
                bChanged = True
    return x_ret

def is_superkey_for(A, X, fds, verbose=False): 
    return X.issubset(compute_closure(A, fds, verbose=verbose))

import itertools
def findsubsets(S,m):
    return set(itertools.combinations(S, m))
def closure(X, fds, verbose=False):
    c = []
    for size in range(1, len(X)):
        subsets = findsubsets(X, size) 
        for SA in subsets:      # loop through all the subsets.
            cl = compute_closure(set(SA), fds, verbose)
            if len(cl.difference(SA)) > 0: 
                c.extend([(set(SA), cl.difference(SA))])
    return c

def superkeys(X, fds, verbose=False):
    c = []
    for size in range(1, len(X)):
        subsets = findsubsets(X, size)
        for SA in subsets:
            cl = compute_closure(set(SA), fds, verbose)
            if cl == X and len(cl.difference(SA)) > 0: ## cl = X
                c.extend([SA])
    return c

def keys(att, fds):
    cles=[]
    for i in range(1, len(att)):
        subsets = findsubsets(att, i)
        for ss in subsets:
            if is_key_for(set(ss), att, fds):
                cles.append(ss)
    return cles

def is_key_for(A, X, fds):
    subsets = set(itertools.combinations(A, len(A)-1))
    return is_superkey_for(A, X, fds) and \
        all([not is_superkey_for(set(SA), X, fds) for SA in subsets])

In [34]:
attributes  = set(["nv", "cru", "degre", "mill", "qte", "np", "nom", "prenom", "region"]) # These are the attribute set.
fds = [(set(["nv"]),["cru", "degre", "mill"]),
         (set(["np"]), ["nom", "prenom", "region"]),
         (set(["nv", "np"]), "qte")]

print_setup(attributes, fds)

Attributes = {region,nv,qte,mill,np,degre,nom,cru,prenom}
FDs = 	nv -> degre,cru,mill
	np -> region,prenom,nom
	nv,np -> qte

In [35]:
k = keys(attributes, fds)
print("these are the keys of the Master 1 table", k)

these are the keys of the Master 1 table [('nv', 'np')]

[Write your answer here] 

The relation between the proposed Wine and the Production Table is of One to many (because a wine is produced by a producer, but a producer can produce several wines) therefore the suggestion is to create those two tables each with their keys and having a third one having both keys.

Provided the NV and NP columns are the keys for the entire Master 1 table,  I could create a three tables: Production, Wine and Sales with the following columns:

For Wine:
    NV (Key), CRU, DEGRE, MILL
    
For Production:
    NP(Key), NOM, PRENOM, REGION
    
For Sales:
     NV(Foreign Key of the Wine table),  NP (Foreign Key of the Production table), QTE
     
QTE is dependant on both the Wine and the Production table (due to the fact that nv,np ->qte)

#### Exercise 1.2

Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NB -> NOM, PRENOM, TYPE

NV, NB -> DATES, LIEU, QTE

LIEU -> REGION

Convert table **Master2** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.

**Note:** For this part, consider that a wine can be bought in multiple locations and multiple times per day.

In [36]:
attributes  = set(["nv", "cru", "degre", "mill", "qte", "nb", "nom", "prenom", "region", "lieu", "dates", "type"]) # These are the attribute set.
fds = [(set(["nv"]),["cru", "degre", "mill"]),
         (set(["nb"]), ["nom", "prenom", "type"]),
         (set(["nv", "nb"]), ["dates", "lieu", "qte"]),
         (set(["lieu"]),["region"])]

print_setup(attributes, fds)

Attributes = {region,nv,qte,mill,nb,degre,dates,nom,lieu,type,cru,prenom}
FDs = 	nv -> degre,cru,mill
	nb -> type,prenom,nom
	nv,nb -> dates,lieu,qte
	lieu -> region

In [37]:
k = keys(attributes, fds)
print("these are the keys of the Master 2 table", k)

these are the keys of the Master 2 table [('nv', 'nb')]

[Write your answer here]

The relation between the proposed Wine and the Client Tables is of Many to Many (because a wine can be bought by 1 or more clients and a client can buy one or more wines) therefore the suggestion is to create those two tables each with their keys and having a third one having both keys.

Provided the NB and NV columns are the keys for the entire Master 2 table,  I could create a three tables: Client, Wine and Sales with the following columns:

For Wine:
    NV (Key), CRU, DEGRE, MILL
    
For Clients:
    NB(Key), NOM, PRENOM, TYPE, REGION
    
For Sales:
     NV(Foreign Key of the Wine table),  NB (Foreign Key of the Client table), QTE, DATES, LIEU
     
QTE, DATES and LIEU are dependant on both the Wine and the Client table (due to the fact that nb,nv ->qte,dates,lieu)

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables.

A table can be created from the result of a query.

In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [38]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1;

 * sqlite:///wine.db
Done.
Done.

[]

In [39]:
print("\nContent of the database")
printSchema(conn)

Content of the database
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
  4: REGION(TEXT)
dummy:
  0: DEGRE(NUM)
production:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
sales1:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
sales2:
  0: NB(NUM)
  1: NV(NUM)
  2: QTE(NUM)
  3: DATES(NUM)
  4: LIEU(TEXT)
wine1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
wine2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

In [59]:
%%sql
SELECT *
FROM dummy;

 * sqlite:///wine.db
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Looking into "dummy", we notice that our query includes NULL. This is not allowed if we were to use DEGRE as key for a table.

To correct this, we need to change the query to explicitly test for NULL as follows:

In [40]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1
WHERE DEGRE IS NOT NULL;

SELECT *
FROM dummy;

 * sqlite:///wine.db
Done.
Done.
Done.

[(11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Notice that we use `NULL` given that `None` is only used for display.

In [41]:
# Remove "dummy" table
%sql DROP TABLE IF EXISTS dummy;

 * sqlite:///wine.db
Done.

[]

#### Exercise 1.3

Create the new tables from Master1:

In [42]:
%%sql DROP TABLE IF EXISTS wine1;

-- Create wine1 table

CREATE TABLE wine1 AS
SELECT DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER1
WHERE NV IS NOT NULL;

SELECT *
FROM wine1;

 * sqlite:///wine.db
Done.
Done.
Done.

[(1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976),
 (6, 'Mercurey', 11.2, 1981),
 (7, 'Grands Echezeaux', 11.7, 1968),
 (8, 'Cotes de Beaune Villages', 12.3, 1975),
 (9, 'Chapelle Chambertin', 11.9, 1973),
 (10, 'Beaujolais Villages', 11.8, 1979),
 (11, 'Sylvaner', 11.2, 1982),
 (12, 'Gentil', 10.7, 1975),
 (13, 'Cotes du Rhone', 12.3, 1968),
 (14, 'Chateau Chalon', 10.9, 1978),
 (15, 'Cote de Brouilly', 11.9, 1973),
 (16, 'Meursault', 12.1, 1980),
 (17, 'Meursault', 11.4, 1975),
 (18, 'Chambolle Musigny', 12.3, 1968),
 (19, 'Clos du roi', 11.2, 1972),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (21, 'Cotes de Nuits', None, 1978),
 (22, 'Savigny les Beaunes', None, 1974),
 (23, 'Pommard', None, 1972),
 (24, 'Cotes de Beaune Villages', 12.1, 1971),
 (25, 'Chapelle Chambertin', 10.5, 1968),
 (26, 'Chateau Corton Grancey', None, 1980),
 (27, 'Puligny Montrachet', 11, 1974),
 (28, 'Volnay', 11, 1980),
 (29, 'Corton', 11.6, 1972),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979),
 (31, 'Monthelie', 11.4, 1968),
 (32, 'Pouilly Vinzelles', 12.3, 1968),
 (33, 'Santenay', 12, 1972),
 (34, 'Montagny', 11.2, 1978),
 (35, 'Auxey Duresses', 11.3, 1914),
 (36, 'Chorey les Beaunes', 11, 1955),
 (37, 'Savigny les Beaunes', 10, 1978),
 (38, 'Savigny les Beaunes', 11, 1977),
 (39, 'Savigny les Beaunes', None, 1973),
 (40, 'Richebourg', 12, 1943),
 (41, 'Clairette de Die', 12, 1976),
 (42, 'Beaujolais Primeur', 12, 1983),
 (43, 'Fleurie', 11.4, 1980),
 (44, 'Moulin a vent', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (46, 'Chiroubles', 11, 1983),
 (47, 'Chiroubles', 11, 1978),
 (48, 'Cote de Brouilly', 12, 1899),
 (49, 'Morgon', 12, 1984),
 (50, 'Chenas', 11.5, 1984),
 (51, 'Chenas', 10, 1975),
 (52, 'Brouilly', None, 1975),
 (53, 'Beaujolais Villages', None, 1975),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (55, 'Beaujolais Villages', 12.1, 1978),
 (56, 'Saint Amour', None, 1974),
 (57, 'Crozes Hermitage', 12.1, 1974),
 (58, 'Crozes Hermitage', 12.5, 1975),
 (59, 'Crozes - Hermitage', 12.3, 1972),
 (60, 'Crozes-Hermitage', 11, 1983),
 (61, 'Hermitage', 12, 1979),
 (62, 'Gigondas', 11, 1978),
 (63, 'Coteaux du Tricastin', 10, 1978),
 (64, 'Coteaux du Tricastin', 11, 1974),
 (65, 'Rochgrande', 10.8, 1968),
 (66, 'Tavel', 11, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (68, 'Riesling', 14, 1962),
 (69, "Tokay d'Alsace", 11, 1982),
 (70, 'Sylvaner', 11, 1982),
 (71, 'Palette', 11, 1981),
 (72, 'Cassis', 10, 1978),
 (73, 'Bellet', 11, 1976),
 (74, 'Arbois', 12, 1980),
 (75, 'Arbois', 11, 1976),
 (76, 'Chateau Chalon', 12, 1976),
 (77, 'Etoile', 11, 1979),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (88, 'Cotes de Provence', 10, 1976),
 (89, 'Cotes de Provence', 11, 1969),
 (90, 'Palette', 11, 1969),
 (91, 'Cassis', 11, 1979),
 (92, 'Coteaux de Pierevert', None, 1967),
 (93, 'Blanquette de Limoux', None, 1978),
 (94, 'Cotes du Rousillon', None, 1978),
 (95, 'Cotes du Rousillon', 12, 1978),
 (96, 'Saint Chinian', 11, 1976),
 (97, 'Saint Chinian', 11, 1976),
 (98, 'Corbieres', 10, 1978),
 (99, 'Cote Rotie', 13, 1994),
 (100, 'Seyssel', 11, 1974),
 (101, 'Saint Veran', 12.5, 1973),
 (107, 'Sancerre', 14, 1998)]

In [43]:
%%sql DROP TABLE IF EXISTS production;

-- Create production table

CREATE TABLE production AS
SELECT DISTINCT NP, NOM, PRENOM, REGION
FROM MASTER1
WHERE NP IS NOT NULL;

SELECT * FROM production;

 * sqlite:///wine.db
Done.
Done.
Done.

[(3, 'Six', 'Paul', 'Alsace'),
 (6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (16, 'Barbin', 'Bernard', 'Bourgogne'),
 (17, 'Faiveley', 'Guy', 'Bourgogne'),
 (18, 'Tramier', 'Jean', 'Bourgogne'),
 (19, 'Dupaquier', 'Roger', 'Bourgogne'),
 (20, 'Lamy', 'Jean', 'Bourgogne'),
 (21, 'Cornu', 'Edmond', 'Bourgogne'),
 (26, 'Violot', 'Gilbert', 'Bourgogne'),
 (28, 'Monnier', 'Rene', 'Bourgogne'),
 (29, 'de Suremain', 'Robert', 'Bourgogne'),
 (31, 'Prudhon', 'Henri', 'Bourgogne'),
 (32, 'Mestre', 'Philippe', 'Bourgogne'),
 (33, 'Prieur', 'Guy', 'Bourgogne'),
 (34, 'Monnier', 'Rene', 'Bourgogne'),
 (37, 'Delagrange Bachelet', None, 'Bourgogne'),
 (39, 'de Suremin', 'Hugues', 'Bourgogne'),
 (41, 'Juillot', 'Michel', 'Bourgogne'),
 (44, 'Feyveley', None, 'Bourgogne'),
 (47, 'Thenard', None, 'Bourgogne'),
 (48, 'Flamand', None, 'Bourgogne'),
 (49, 'Guillot', 'Pierre', 'Bourgogne'),
 (51, 'Simonet', 'Leon', 'Bourgogne'),
 (53, 'Cooperative', None, 'Bourgogne'),
 (57, 'Desmules', 'Pierre', 'Beaujolais'),
 (58, 'Joubert', 'Claude', 'Beaujolais'),
 (61, 'Champier', 'Charles', 'Beaujolais'),
 (62, 'Champagnon', 'Louis', 'Beaujolais'),
 (66, 'Cooperative', None, 'Beaujolais'),
 (77, 'Tissot', 'Andre', 'Jura'),
 (83, 'Goy', None, 'Jura'),
 (91, 'Chave', 'Gerard', 'Rhone'),
 (92, 'De Boissieu', None, 'Rhone'),
 (94, 'Grippat', 'Jean Louis', 'Rhone'),
 (96, 'Boisson', 'Jean Pierre', 'Rhone'),
 (97, 'Quiot', 'Pierre', 'Rhone'),
 (100, 'Bernard', 'Georges', 'Rhone'),
 (101, 'Verdan', 'Antoine', 'Rhone'),
 (102, 'Cooperative', None, 'Rhone'),
 (103, 'Coulouvrat', 'Michel', 'Rhone'),
 (104, 'Rabasse Chavarin', 'Abel', 'Rhone'),
 (105, 'Roux', 'Charles', 'Rhone'),
 (106, 'Alary', None, 'Rhone'),
 (108, 'Archimbaud', 'Jean', 'Rhone'),
 (109, 'Rey', 'Marcel', 'Rhone'),
 (110, 'Cooperative', None, 'Rhone'),
 (111, 'Zafiropulo', 'Costa', 'Provence'),
 (112, 'Prebost', 'Gaston', 'Provence'),
 (113, 'Gomez', 'Rene', 'Provence'),
 (114, 'Brunet', 'Georges', 'Provence'),
 (115, 'Bordonado', 'Raymond', 'Provence'),
 (116, 'Imbert', 'Christian', 'Corse'),
 (117, 'Cooperative', None, 'Languedoc'),
 (118, 'Cooperative', None, 'Languedoc'),
 (119, 'Cooperative', None, 'Pyrenees'),
 (121, 'Cooperative', None, 'Pyrenees'),
 (122, 'Dupuy', 'Charles', 'Pyrenees'),
 (123, 'Laurent', 'Pierre', 'Pyrenees'),
 (124, 'Daurat Fort', 'Robert', 'Pyrenees'),
 (125, 'Baldes', 'Jean', 'Sud'),
 (126, 'Jouffreau', 'Jean', 'Sud'),
 (127, 'Brumont', 'Alban', 'Sud'),
 (129, 'Barrere', 'Alfred', 'Sud'),
 (1, 'Bohn', 'Rene', 'Alsace'),
 (73, 'Bourguignon', 'Emile', 'Jura'),
 (5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (10, 'Fournier', 'Jean Claude', 'Bourgogne'),
 (30, 'Desbois', 'Maurice', 'Bourgogne'),
 (42, 'Juillot', 'Maurice', 'Bourgogne'),
 (98, 'Berard', None, 'Rhone'),
 (90, 'Roure', 'Raymond', 'Rhone'),
 (7, 'Lasnier', 'Pierre', 'Bourgogne'),
 (43, 'Menand', 'Jean Claude', 'Bourgogne'),
 (89, 'Michelas', 'Robert', 'Rhone'),
 (13, 'Grivot', 'Jean', 'Bourgogne'),
 (86, 'Dumazet', 'Marc', 'Rhone'),
 (80, 'Devaux', 'Jean Paul', 'Jura'),
 (38, 'de Launay', 'Paul', 'Bourgogne'),
 (95, 'Verset', 'Louis', 'Rhone'),
 (40, 'Genelot', 'Maurice', 'Bourgogne'),
 (50, 'Chagny', 'Georges', 'Bourgogne'),
 (36, 'Sauzet', 'Etienne', 'Bourgogne'),
 (99, 'Cooperative', None, 'Rhone'),
 (22, 'Dubreuil Fontaine', 'Pierre', 'Bourgogne'),
 (9, 'Moniot', 'Gilbert', 'Bourgogne'),
 (72, 'Reverchon', 'Joseph', 'Jura'),
 (60, 'Vernus', 'Georges', 'Beaujolais'),
 (4, 'Stentz', 'Fernand', 'Alsace'),
 (23, 'Laleure', None, 'Bourgogne'),
 (93, 'Marsanne', 'Jean', 'Rhone'),
 (54, 'Cooperative', None, 'Bourgogne'),
 (52, 'Lapierre', 'Jean', 'Bourgogne'),
 (76, 'Maire', 'Henri', 'Jura'),
 (82, 'Mollex', 'Georges', 'Savoie'),
 (85, 'Champet', 'Emile', 'Rhone'),
 (2, 'Boxler', 'Albert', 'Alsace'),
 (67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (71, 'Chalandard', 'Danile', 'Jura'),
 (78, 'Michlel', 'Pierre Emile', 'Jura'),
 (64, 'Marius Bel Air', 'Morin', 'Beaujolais'),
 (15, 'Drouhin', 'Joseph', 'Bourgogne'),
 (14, 'Jayer', 'Henri', 'Bourgogne'),
 (24, 'Guillemot', 'Pierre', 'Bourgogne'),
 (45, 'Jeannin', 'Andre', 'Bourgogne'),
 (12, 'Tortochot', 'Gabriel', 'Bourgogne'),
 (25, 'Valentin Bouchotte', 'Roger', 'Bourgogne'),
 (69, 'Janin', 'Marcel', 'Beaujolais'),
 (70, 'Trichard', 'Benoit', 'Beaujolais'),
 (84, 'Metral', 'Jean', 'Jura'),
 (46, 'Monassier', 'Armand', 'Bourgogne'),
 (27, 'Glantenay', 'Louis', 'Bourgogne'),
 (68, 'Savoye', 'Louis', 'Beaujolais'),
 (74, 'Grand', 'Rene', 'Jura'),
 (79, 'Petit', 'Gerard', 'Jura'),
 (81, 'Peltier', 'Pierre', 'Jura'),
 (55, 'Michon', None, 'Beaujolais'),
 (56, 'Coutelle', 'Jean', 'Beaujolais'),
 (11, 'Clerget', 'Anne', 'Bourgogne'),
 (59, 'La Thuilliere', 'Jean', 'Beaujolais'),
 (35, 'Roulot', 'Guy', 'Bourgogne'),
 (75, 'Loye', 'Camille', 'Jura'),
 (88, 'Begot', 'Albert', 'Rhone'),
 (107, 'Meunier', 'Laurent', 'Rhone')]

In [46]:
%%sql DROP TABLE IF EXISTS sales1;

-- Create sales1 table

CREATE TABLE sales1 AS
SELECT NP, NV, QTE
FROM MASTER1;

SELECT * FROM sales1;

 * sqlite:///wine.db
Done.
Done.
Done.

[(3, None, None),
 (6, None, None),
 (8, None, None),
 (16, None, None),
 (17, None, None),
 (18, None, None),
 (19, None, None),
 (20, None, None),
 (21, None, None),
 (26, None, None),
 (28, None, None),
 (29, None, None),
 (31, None, None),
 (32, None, None),
 (33, None, None),
 (34, None, None),
 (37, None, None),
 (39, None, None),
 (41, None, None),
 (44, None, None),
 (47, None, None),
 (48, None, None),
 (49, None, None),
 (51, None, None),
 (53, None, None),
 (57, None, None),
 (58, None, None),
 (61, None, None),
 (62, None, None),
 (66, None, None),
 (77, None, None),
 (83, None, None),
 (91, None, None),
 (92, None, None),
 (94, None, None),
 (96, None, None),
 (97, None, None),
 (100, None, None),
 (101, None, None),
 (102, None, None),
 (103, None, None),
 (104, None, None),
 (105, None, None),
 (106, None, None),
 (108, None, None),
 (109, None, None),
 (110, None, None),
 (111, None, None),
 (112, None, None),
 (113, None, None),
 (114, None, None),
 (115, None, None),
 (116, None, None),
 (117, None, None),
 (118, None, None),
 (119, None, None),
 (121, None, None),
 (122, None, None),
 (123, None, None),
 (124, None, None),
 (125, None, None),
 (126, None, None),
 (127, None, None),
 (129, None, None),
 (1, 1, 300),
 (73, 1, 1),
 (5, 2, 100),
 (1, 3, 400),
 (10, 4, 35),
 (30, 5, 46),
 (42, 6, 300),
 (98, 7, 60),
 (90, 8, 12),
 (None, 9, None),
 (98, 10, 100),
 (5, 11, 200),
 (7, 12, 31),
 (43, 12, 200),
 (89, 12, 310),
 (13, 13, 13),
 (86, 14, 180),
 (80, 15, 290),
 (38, 16, 100),
 (95, 17, 50),
 (40, 18, 120),
 (7, 19, 986),
 (50, 20, 100),
 (5, 21, 150),
 (86, 22, 50),
 (86, 23, 15),
 (36, 24, 859),
 (95, 25, 40),
 (43, 26, 70),
 (99, 27, 60),
 (50, 28, 10),
 (50, 29, 50),
 (22, 30, 350),
 (50, 31, 320),
 (9, 32, 500),
 (72, 32, 890),
 (60, 33, 70),
 (4, 34, None),
 (10, 35, 900),
 (23, 35, 350),
 (93, 36, 50),
 (54, 37, 830),
 (52, 38, 125),
 (52, 39, 80),
 (None, 40, 90),
 (76, 41, 25),
 (82, 42, 80),
 (13, 43, 500),
 (72, 43, 900),
 (85, 43, 983),
 (93, 44, 40),
 (2, 45, 90),
 (67, 45, 912),
 (71, 45, 98),
 (78, 45, 540),
 (86, 45, 450),
 (64, 46, 760),
 (52, 47, 75),
 (93, 48, 70),
 (2, 49, 150),
 (2, 50, 100),
 (15, 51, 36),
 (40, 52, 500),
 (40, 53, 800),
 (1, 54, 500),
 (2, 54, 900),
 (14, 54, 500),
 (None, 54, 210),
 (14, 55, 450),
 (24, 56, 790),
 (40, 57, 940),
 (45, 58, 70),
 (45, 59, 160),
 (50, 60, 300),
 (60, 60, 60),
 (90, 61, 120),
 (60, 62, 900),
 (None, 63, 136),
 (72, 64, 870),
 (85, 64, 980),
 (12, 65, 10),
 (25, 65, 560),
 (None, 66, 124),
 (5, 67, 125),
 (10, 67, 890),
 (82, 67, 760),
 (12, 68, None),
 (9, 69, 96),
 (12, 69, 320),
 (69, 69, 690),
 (38, 70, 120),
 (38, 71, 132),
 (52, 72, 34),
 (38, 73, 45),
 (70, 74, 650),
 (72, 74, 850),
 (84, 74, 675),
 (38, 75, 69),
 (46, 76, 100),
 (85, 76, 900),
 (85, 77, 100),
 (4, 78, 300),
 (27, 78, 360),
 (30, 78, 900),
 (68, 78, 980),
 (80, 78, 970),
 (74, 79, 100),
 (79, 79, 79),
 (81, 79, 800),
 (90, 80, 79),
 (90, 81, 24),
 (43, 82, 100),
 (80, 82, 800),
 (95, 83, 423),
 (95, 84, 146),
 (55, 85, 46),
 (93, 86, 500),
 (38, 87, 630),
 (45, 87, 680),
 (72, 87, 900),
 (55, 88, 129),
 (15, 89, 150),
 (42, 89, 980),
 (55, 89, 723),
 (None, 89, 980),
 (89, 89, 100),
 (56, 90, 900),
 (95, 90, 40),
 (79, 91, 24),
 (11, 92, 900),
 (79, 93, 110),
 (11, 94, 500),
 (27, 94, 180),
 (95, 95, 900),
 (59, 96, 370),
 (70, 97, 101),
 (24, 98, 986),
 (35, 98, 400),
 (75, 98, 150),
 (76, 98, 890),
 (88, 98, 340),
 (5, 99, 100),
 (99, 99, 199),
 (25, 100, 100),
 (70, 101, 213),
 (107, 107, 7000)]

#### Exercise 1.4

Create the new tables from Master2:

In [47]:
%%sql DROP TABLE IF EXISTS wine2;

-- Create wine2 table

CREATE TABLE wine2 AS
SELECT DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER2
WHERE NV IS NOT NULL;

SELECT *
FROM wine2;

 * sqlite:///wine.db
Done.
Done.
Done.

[(1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976),
 (6, 'Mercurey', 11.2, 1981),
 (7, 'Grands Echezeaux', 11.7, 1968),
 (8, 'Cotes de Beaune Villages', 12.3, 1975),
 (9, 'Chapelle Chambertin', 11.9, 1973),
 (10, 'Beaujolais Villages', 11.8, 1979),
 (11, 'Sylvaner', 11.2, 1982),
 (12, 'Gentil', 10.7, 1975),
 (13, 'Cotes du Rhone', 12.3, 1968),
 (14, 'Chateau Chalon', 10.9, 1978),
 (15, 'Cote de Brouilly', 11.9, 1973),
 (16, 'Meursault', 12.1, 1980),
 (17, 'Meursault', 11.4, 1975),
 (18, 'Chambolle Musigny', 12.3, 1968),
 (19, 'Clos du roi', 11.2, 1972),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (21, 'Cotes de Nuits', None, 1978),
 (22, 'Savigny les Beaunes', None, 1974),
 (23, 'Pommard', None, 1972),
 (24, 'Cotes de Beaune Villages', 12.1, 1971),
 (25, 'Chapelle Chambertin', 10.5, 1968),
 (26, 'Chateau Corton Grancey', None, 1980),
 (27, 'Puligny Montrachet', 11, 1974),
 (28, 'Volnay', 11, 1980),
 (29, 'Corton', 11.6, 1972),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979),
 (31, 'Monthelie', 11.4, 1968),
 (32, 'Pouilly Vinzelles', 12.3, 1968),
 (33, 'Santenay', 12, 1972),
 (34, 'Montagny', 11.2, 1978),
 (35, 'Auxey Duresses', 11.3, 1914),
 (36, 'Chorey les Beaunes', 11, 1955),
 (37, 'Savigny les Beaunes', 10, 1978),
 (38, 'Savigny les Beaunes', 11, 1977),
 (39, 'Savigny les Beaunes', None, 1973),
 (40, 'Richebourg', 12, 1943),
 (41, 'Clairette de Die', 12, 1976),
 (42, 'Beaujolais Primeur', 12, 1983),
 (43, 'Fleurie', 11.4, 1980),
 (44, 'Moulin a vent', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (46, 'Chiroubles', 11, 1983),
 (47, 'Chiroubles', 11, 1978),
 (48, 'Cote de Brouilly', 12, 1899),
 (49, 'Morgon', 12, 1984),
 (50, 'Chenas', 11.5, 1984),
 (51, 'Chenas', 10, 1975),
 (52, 'Brouilly', None, 1975),
 (53, 'Beaujolais Villages', None, 1975),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (55, 'Beaujolais Villages', 12.1, 1978),
 (56, 'Saint Amour', None, 1974),
 (57, 'Crozes Hermitage', 12.1, 1974),
 (58, 'Crozes Hermitage', 12.5, 1975),
 (59, 'Crozes - Hermitage', 12.3, 1972),
 (60, 'Crozes-Hermitage', 11, 1983),
 (61, 'Hermitage', 12, 1979),
 (62, 'Gigondas', 11, 1978),
 (63, 'Coteaux du Tricastin', 10, 1978),
 (64, 'Coteaux du Tricastin', 11, 1974),
 (65, 'Rochgrande', 10.8, 1968),
 (66, 'Tavel', 11, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (68, 'Riesling', 14, 1962),
 (69, "Tokay d'Alsace", 11, 1982),
 (70, 'Sylvaner', 11, 1982),
 (71, 'Palette', 11, 1981),
 (72, 'Cassis', 10, 1978),
 (73, 'Bellet', 11, 1976),
 (74, 'Arbois', 12, 1980),
 (75, 'Arbois', 11, 1976),
 (76, 'Chateau Chalon', 12, 1976),
 (77, 'Etoile', 11, 1979),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (88, 'Cotes de Provence', 10, 1976),
 (89, 'Cotes de Provence', 11, 1969),
 (90, 'Palette', 11, 1969),
 (91, 'Cassis', 11, 1979),
 (92, 'Coteaux de Pierevert', None, 1967),
 (93, 'Blanquette de Limoux', None, 1978),
 (94, 'Cotes du Rousillon', None, 1978),
 (95, 'Cotes du Rousillon', 12, 1978),
 (96, 'Saint Chinian', 11, 1976),
 (97, 'Saint Chinian', 11, 1976),
 (98, 'Corbieres', 10, 1978),
 (99, 'Cote Rotie', 13, 1994),
 (100, 'Seyssel', 11, 1974),
 (101, 'Saint Veran', 12.5, 1973),
 (107, 'Sancerre', 14, 1998)]

In [48]:
%%sql DROP TABLE IF EXISTS client;

-- Create client table

CREATE TABLE client AS
SELECT DISTINCT NB, NOM, PRENOM, TYPE, REGION
FROM MASTER2
WHERE NB IS NOT NULL;

SELECT * FROM client ORDER BY NB;

 * sqlite:///wine.db
Done.
Done.
Done.

[(1, 'Aristote', None, 'petit', ' LE-DE-FRANCE'),
 (2, 'Artaud', 'Antonin', 'moyen', ' NOUVELLE-AQUITAINE'),
 (2, 'Artaud', 'Antonin', 'moyen', ' BOURGOGNE-FRANCHE-COMT'),
 (3, 'Aron', 'Raymond', 'gros', ' GRAND EST'),
 (3, 'Aron', 'Raymond', 'gros', ' NOUVELLE-AQUITAINE'),
 (3, 'Aron', 'Raymond', 'gros', ' LE-DE-FRANCE'),
 (4, 'Apollinaire', 'Guillaume', 'moyen', ' LE-DE-FRANCE'),
 (5, 'Audiberti', 'Jacques', 'petit', '  AUVERGNE-RHNE-ALPES'),
 (5, 'Audiberti', 'Jacques', 'petit', ' LE-DE-FRANCE'),
 (5, 'Audiberti', 'Jacques', 'petit', ' NORMANDIE'),
 (6, 'Arrabal', 'Fernando', 'gros', ' OCCITANIE'),
 (7, 'Anouilh', 'Jean', 'moyen', " PROVENCE-ALPES-CTE D'AZUR"),
 (8, 'Aragon', 'Louis', 'gros', ' OCCITANIE'),
 (8, 'Aragon', 'Louis', 'gros', ' LE-DE-FRANCE'),
 (9, 'Ajar', 'Emile', 'petit', ' HAUTS-DE-FRANCE'),
 (9, 'Ajar', 'Emile', 'petit', ' LE-DE-FRANCE'),
 (10, 'Andersen', 'Yann', 'gros', ' HAUTS-DE-FRANCE'),
 (11, 'Breton', 'Andre', 'petit', None),
 (12, 'Bataille', 'Georges', 'moyen', ' NORMANDIE'),
 (12, 'Bataille', 'Georges', 'moyen', ' LE-DE-FRANCE'),
 (13, 'Barthes', 'Roland', 'moyen', None),
 (14, 'Bory', 'Jean Louis', 'gros', ' NORMANDIE'),
 (15, 'Baudelaire', 'Charles', 'petit', " PROVENCE-ALPES-CTE D'AZUR"),
 (16, 'Balzac', 'Honore de', 'moyen', None),
 (17, 'Camus', 'Albert', 'petit', ' BOURGOGNE-FRANCHE-COMT'),
 (18, 'Celine', 'Louis Ferdinand', 'gros', None),
 (19, 'Ciceron', None, 'gros', ' BOURGOGNE-FRANCHE-COMT'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen', None),
 (21, 'Corbiere', 'Tristan', 'petit', None),
 (22, 'Cocteau', 'Jean', 'gros', ' LE-DE-FRANCE'),
 (23, 'Corneille', 'Pierre', 'petit', None),
 (24, 'Courrier', 'Paul Louis', 'moyen', ' LE-DE-FRANCE'),
 (25, 'Char', 'Rene', 'petit', None),
 (26, 'Diderot', 'Denis', 'moyen', '  AUVERGNE-RHNE-ALPES'),
 (27, 'Dumas', 'Alexandre', 'gros', None),
 (28, 'Dostoievsky', 'Fiodor', 'gros', '  AUVERGNE-RHNE-ALPES'),
 (29, 'Fournier', 'Alain', 'petit', None),
 (30, 'La Fontaine', 'Jean de', 'petit', '  AUVERGNE-RHNE-ALPES'),
 (31, 'Dante', None, 'gros', ' OCCITANIE'),
 (32, 'Eluard', 'Paul', 'moyen', None),
 (33, 'Flaubert', 'Gustave', 'moyen', ' OCCITANIE'),
 (34, 'Mauriac', 'Francois', 'petit', None),
 (35, 'Fromentin', 'Eugene', 'gros', None),
 (36, 'Maurois', 'Andre', 'petit', None),
 (37, 'Freud', 'Sigmund', 'petit', None),
 (38, 'Montaigne', 'Michel de', 'petit', ' LE-DE-FRANCE'),
 (39, 'Montesquieu', None, 'gros', None),
 (40, 'Moliere', None, 'petit', ' GRAND EST'),
 (41, 'Gauthier', 'Theophile', 'petit', " PROVENCE-ALPES-CTE D'AZUR"),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen', None),
 (43, 'Musset', 'Alfred de', 'gros', None),
 (44, 'Gide', 'Andre', 'petit', ' LE-DE-FRANCE'),
 (45, 'Giono', 'Jean', 'petit', ' BRETAGNE'),
 (46, 'Hugo', 'Victor', 'moyen', None),
 (47, 'Gary', 'Romain', 'petit', None),
 (48, 'Hardy', 'Thomas', 'moyen', '  AUVERGNE-RHNE-ALPES'),
 (49, 'Kafka', 'Franz', 'petit', ' BOURGOGNE-FRANCHE-COMT'),
 (50, 'Lautreamont', None, 'moyen', ' BOURGOGNE-FRANCHE-COMT'),
 (51, 'Lafargue', 'Paul', 'petit', None),
 (52, 'Carroll', 'Lewis', 'petit', ' HAUTS-DE-FRANCE'),
 (53, 'Lamartine', 'Alphonse de', 'gros', None),
 (54, 'Aurele', 'Marc', 'petit', None),
 (55, 'Michelet', 'Jules', 'gros', None),
 (56, 'Nerval', 'Gerard de', 'petit', None),
 (57, 'Marx', 'Karl', 'gros', None),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros', " PROVENCE-ALPES-CTE D'AZUR"),
 (59, 'Nietzsche', 'Friedrich', 'petit', None),
 (60, 'Ovide', None, 'gros', " PROVENCE-ALPES-CTE D'AZUR"),
 (61, 'Mallarme', 'Stephane', 'petit', " PROVENCE-ALPES-CTE D'AZUR"),
 (62, 'Proust', 'Marcel', 'moyen', " PROVENCE-ALPES-CTE D'AZUR"),
 (63, 'Maupassant', 'Guy de', 'petit', None),
 (64, 'Platon', None, 'gros', None),
 (65, 'Pascal', 'Blaise', 'petit', None),
 (66, 'Perec', 'Georges', 'gros', None),
 (67, 'Nin', 'Anais', 'petit', None),
 (68, 'Prevert', 'Jacques', 'gros', None),
 (69, 'Queneau', 'Raymond', 'petit', None),
 (70, 'Paulhan', 'Jean', 'gros', None),
 (71, 'Radiguet', 'Raymond', 'petit', None),
 (72, 'Rabelais', 'Francois', 'gros', None),
 (73, 'Poe', 'Allan Edgard', 'moyen', None),
 (74, 'Rimbaud', 'Arthur', 'petit', None),
 (75, 'Ronsard', 'Pierre', 'moyen', ' LE-DE-FRANCE'),
 (76, 'Racine', 'Jean', 'gros', None),
 (77, 'Rousseau', 'Jean-Jacques', 'petit', None),
 (78, 'Sandier', 'Jules', 'moyen', None),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros', None),
 (80, 'Sand', 'Georges', 'petit', ' BOURGOGNE-FRANCHE-COMT'),
 (81, 'Sartre', 'Jean-Paul', 'gros', None),
 (82, 'Roussel', 'Rene', 'petit', ' BOURGOGNE-FRANCHE-COMT'),
 (83, 'Sophocle', None, 'gros', None),
 (84, 'Sue', 'Eugene', 'moyen', None),
 (85, 'Segalen', 'Victor', 'petit', None),
 (86, 'Saint Exupery', 'Antoine de', 'gros', None),
 (87, 'Segur', 'Comtesse de', 'gros', None),
 (88, 'Shakespeare', 'William', 'petit', None),
 (89, 'Stendhal', None, 'petit', None),
 (90, 'Vian', 'Boris', 'petit', None),
 (91, 'Verlaine', 'Paul', 'gros', None),
 (92, 'Verne', 'Jules', 'petit', ' LE-DE-FRANCE'),
 (93, 'Virgile', None, 'gros', None),
 (94, 'Zola', 'Emile', 'moyen', ' BOURGOGNE-FRANCHE-COMT'),
 (95, 'Zorn', 'Fritz', 'moyen', None),
 (96, 'Wilde', 'Oscar', 'petit', ' LE-DE-FRANCE'),
 (97, 'Vigny', 'Alfred de', 'petit', ' LE-DE-FRANCE'),
 (98, 'Maturin', 'Robert', 'gros', None),
 (99, 'Cesar', 'Jules', 'gros', None),
 (100, 'Woolf', 'Virginia', 'petit', ' LE-DE-FRANCE')]

In [49]:
%%sql DROP TABLE IF EXISTS sales2;

-- Create sales2 table

CREATE TABLE sales2 AS
SELECT DISTINCT NB, NV, QTE, DATES, LIEU
FROM MASTER2
WHERE (NB IS NOT NULL) & (NV IS NOT NULL);

SELECT * FROM sales2;

 * sqlite:///wine.db
Done.
Done.
Done.

[(2, 1, 33, '1977-11-02', 'BORDEAUX'),
 (44, 1, 1, '2015-10-16', 'PARIS'),
 (45, 1, 1, '1983-12-31', 'RENNES'),
 (48, 2, 2, '1983-12-25', 'LYON'),
 (7, 3, 6, '1978-11-01', 'NICE'),
 (49, 3, 5, '1987-12-24', 'MERCUREY'),
 (8, 4, 12, '1982-11-05', 'TOULOUSE'),
 (44, 4, 6, '2015-10-16', 'PARIS'),
 (50, 4, 4, '1981-06-29', 'SENS'),
 (2, 5, 50, '1984-11-04', 'MERCUREY'),
 (52, 5, 5, '1983-06-29', 'LILLE'),
 (3, 6, 36, '1978-01-21', 'NANCY'),
 (4, 7, 24, '1987-09-19', 'PARIS'),
 (58, 7, 7, '1987-04-28', 'CANNES'),
 (1, 8, 78, '1982-09-15', 'PARIS'),
 (9, 8, 10, '1979-11-01', 'LILLE'),
 (60, 8, 8, '1980-05-12', 'TOULON'),
 (5, 9, 20, '1982-03-26', 'LYON'),
 (10, 9, 1, '1979-05-12', 'LILLE'),
 (61, 9, 9, '1907-04-21', 'TOULON'),
 (2, 10, 500, '1982-10-30', 'CHALON SUR SAONE'),
 (3, 10, 10, '1977-12-31', 'BORDEAUX'),
 (5, 10, 10, '1983-06-06', 'LYON'),
 (6, 12, 36, '1982-11-05', 'TOULOUSE'),
 (44, 16, 2, '2015-10-16', 'PARIS'),
 (44, 20, 3, '2015-10-16', 'PARIS'),
 (61, 20, 20, '1978-06-12', 'NICE'),
 (62, 21, 21, '1987-04-05', 'CANNES'),
 (75, 22, 22, '1985-05-23', 'ROCQUENCOURT'),
 (80, 22, 22, '1987-12-24', 'PARLY'),
 (82, 23, 23, '1988-03-20', 'PARLY'),
 (100, 24, 14, '1986-06-12', 'LE CHESNAY'),
 (44, 26, 4, '2015-10-16', 'PARIS'),
 (44, 28, 5, '2015-10-16', 'PARIS'),
 (26, 31, 6, '1984-12-31', 'LYON'),
 (28, 31, 100, '1978-12-25', 'LYON'),
 (22, 32, 3, '1983-02-14', 'PARIS'),
 (24, 32, 7, '1980-12-31', 'PARIS'),
 (30, 35, 80, '1981-12-25', 'LYON'),
 (12, 38, 5, '1981-08-06', 'CAEN'),
 (14, 38, 2, '1981-05-12', 'CAEN'),
 (15, 40, 30, '1982-03-25', 'NICE'),
 (17, 40, 25, '1982-04-02', 'DIJON'),
 (19, 40, 12, '1980-12-31', 'DIJON'),
 (33, 40, 1, '1982-04-01', 'TOULOUSE'),
 (92, 40, 4, '1986-08-10', 'LE CHESNAY'),
 (31, 41, 2, '1988-04-01', 'TOULOUSE'),
 (94, 41, 3, '1985-12-29', 'SENS'),
 (94, 42, 3, '1985-07-27', 'SENS'),
 (100, 42, 4, '1983-03-10', 'PARIS'),
 (44, 43, 7, '2015-10-16', 'PARIS'),
 (38, 50, 1, '1988-02-23', 'PARIS'),
 (12, 53, 10, '1983-06-06', 'ROCQUENCOURT'),
 (8, 54, 120, '1983-05-05', 'ROCQUENCOURT'),
 (9, 55, 130, '1983-05-05', 'ROCQUENCOURT'),
 (5, 56, 80, '1983-05-05', 'ROCQUENCOURT'),
 (96, 62, 5, '1980-12-21', 'PARIS'),
 (3, 63, 12, '1982-02-02', 'PARIS'),
 (97, 64, 1, '1983-12-31', 'PARIS'),
 (44, 74, 8, '2015-10-16', 'PARIS'),
 (44, 78, 9, '2015-10-16', 'PARIS'),
 (44, 79, 10, '2015-10-16', 'PARIS'),
 (44, 80, 11, '2015-10-16', 'PARIS'),
 (44, 81, 12, '2015-10-16', 'PARIS'),
 (44, 82, 13, '2015-10-16', 'PARIS'),
 (44, 83, 14, '2015-10-16', 'PARIS'),
 (44, 84, 15, '2015-10-16', 'PARIS'),
 (44, 85, 16, '2015-10-16', 'PARIS'),
 (44, 86, 17, '2015-10-16', 'PARIS'),
 (44, 87, 18, '2015-10-16', 'PARIS'),
 (5, 100, 3, '1983-02-21', 'CAEN'),
 (40, 100, 11, '1982-11-05', 'NANCY'),
 (41, 100, 10, '1982-11-04', 'CANNES')]

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

**Important:**

- You MUST use the normalized tables created in previous steps.
  - The normalized tables will also be used in TP4.
- Do NOT use **Master1** and **Master2** in your queries.

#### Exercise 2.1

What are the different types of clients (buveurs) by volume of purchases?

In [50]:
%%sql
SELECT DISTINCT TYPE  as Type_of_buveurs FROM client;

 * sqlite:///wine.db
Done.

[('petit',), ('moyen',), ('gros',)]

#### Exercise 2.2

What regions produce Pommard or Brouilly?

In [51]:
%%sql
SELECT DISTINCT CRU, REGION FROM wine1 w1, production p, sales1 s1
WHERE (s1.nv = w1.nv) AND (s1.np = p.np) AND (CRU = "Pommard" OR CRU = 'Brouilly');

 * sqlite:///wine.db
Done.

[('Pommard', 'Bourgogne'), ('Pommard', 'Rhone'), ('Brouilly', 'Bourgogne')]

#### Exercise 2.3

What regions produce Pommard and Brouilly?

In [52]:
%%sql
SELECT DISTINCT REGION FROM wine1 w1, production p, sales1 s1
WHERE (s1.nv = w1.nv) AND (s1.np = p.np) AND (CRU = "Pommard")
INTERSECT
SELECT DISTINCT REGION FROM wine1 w1, production p, sales1 s1
WHERE (s1.nv = w1.nv) AND (s1.np = p.np) AND (CRU = "Brouilly")

 * sqlite:///wine.db
Done.

[('Bourgogne',)]

#### Exercise 2.4

Get the number of wines bught by CRU and Millsime

In [53]:
%%sql
SELECT DISTINCT CRU, MILL, SUM(QTE) as Number_of_wines_bought
FROM wine1 w2, sales2 s2
WHERE w2.nv = s2.nv
GROUP BY CRU, MILL
ORDER BY CRU, MILL DESC;

 * sqlite:///wine.db
Done.

[('Arbois', 1980, 8),
 ('Auxey Duresses', 1914, 80),
 ('Beaujolais Primeur', 1983, 7),
 ('Beaujolais Villages', 1979, 520),
 ('Beaujolais Villages', 1978, 130),
 ('Beaujolais Villages', 1976, 120),
 ('Beaujolais Villages', 1975, 10),
 ('Chapelle Chambertin', 1973, 30),
 ('Chateau Corton Grancey', 1980, 4),
 ('Chenas', 1984, 1),
 ('Clairette de Die', 1976, 5),
 ('Cornas', 1980, 25),
 ('Cote de Brouilly', 1980, 23),
 ('Coteaux du Tricastin', 1978, 12),
 ('Coteaux du Tricastin', 1974, 1),
 ('Cotes de Beaune Villages', 1975, 96),
 ('Cotes de Beaune Villages', 1971, 14),
 ('Cotes de Nuits', 1978, 21),
 ('Cotes de Provence', 1980, 18),
 ('Etoile', 1980, 9),
 ('Fleurie', 1980, 7),
 ('Gentil', 1975, 36),
 ('Gigondas', 1978, 5),
 ('Grands Echezeaux', 1968, 31),
 ('Julienas', 1974, 2),
 ('Mercurey', 1981, 36),
 ('Mercurey', 1980, 57),
 ('Meursault', 1980, 2),
 ('Monthelie', 1968, 106),
 ('Pommard', 1976, 55),
 ('Pommard', 1972, 23),
 ('Pouilly Vinzelles', 1968, 10),
 ('Rasteau', 1980, 15),
 ('Richebourg', 1943, 72),
 ('Saint Amour', 1980, 14),
 ('Saint Amour', 1974, 80),
 ('Savigny les Beaunes', 1978, 11),
 ('Savigny les Beaunes', 1977, 7),
 ('Savigny les Beaunes', 1974, 44),
 ('Seyssel', 1980, 21),
 ('Seyssel', 1974, 24),
 ('Tavel', 1980, 33),
 ('Volnay', 1980, 5)]

#### Exercise 2.5

Retrieve the wine number (NV) of wines produced by more than three producers

In [54]:
%%sql
SELECT NV, count(NP)
FROM sales1
WHERE (NV IS NOT NULL) & (NP IS NOT NULL)
GROUP BY NV
HAVING count(NP) > 3;

 * sqlite:///wine.db
Done.

[(45, 5), (78, 5), (89, 4), (98, 5)]

#### Exercise 2.6

Which producers have not produced any wine?

In [55]:
%%sql
SELECT s1.NP, NOM, PRENOM
FROM production p, sales1 s1
WHERE (s1.np = p.np) & (s1.nv IS NULL);

 * sqlite:///wine.db
Done.

[(3, 'Six', 'Paul'),
 (6, 'Marmagne', 'Bernard'),
 (8, "Lioger d'Harduy", 'Gabriel'),
 (16, 'Barbin', 'Bernard'),
 (17, 'Faiveley', 'Guy'),
 (18, 'Tramier', 'Jean'),
 (19, 'Dupaquier', 'Roger'),
 (20, 'Lamy', 'Jean'),
 (21, 'Cornu', 'Edmond'),
 (26, 'Violot', 'Gilbert'),
 (28, 'Monnier', 'Rene'),
 (29, 'de Suremain', 'Robert'),
 (31, 'Prudhon', 'Henri'),
 (32, 'Mestre', 'Philippe'),
 (33, 'Prieur', 'Guy'),
 (34, 'Monnier', 'Rene'),
 (37, 'Delagrange Bachelet', None),
 (39, 'de Suremin', 'Hugues'),
 (41, 'Juillot', 'Michel'),
 (44, 'Feyveley', None),
 (47, 'Thenard', None),
 (48, 'Flamand', None),
 (49, 'Guillot', 'Pierre'),
 (51, 'Simonet', 'Leon'),
 (53, 'Cooperative', None),
 (57, 'Desmules', 'Pierre'),
 (58, 'Joubert', 'Claude'),
 (61, 'Champier', 'Charles'),
 (62, 'Champagnon', 'Louis'),
 (66, 'Cooperative', None),
 (77, 'Tissot', 'Andre'),
 (83, 'Goy', None),
 (91, 'Chave', 'Gerard'),
 (92, 'De Boissieu', None),
 (94, 'Grippat', 'Jean Louis'),
 (96, 'Boisson', 'Jean Pierre'),
 (97, 'Quiot', 'Pierre'),
 (100, 'Bernard', 'Georges'),
 (101, 'Verdan', 'Antoine'),
 (102, 'Cooperative', None),
 (103, 'Coulouvrat', 'Michel'),
 (104, 'Rabasse Chavarin', 'Abel'),
 (105, 'Roux', 'Charles'),
 (106, 'Alary', None),
 (108, 'Archimbaud', 'Jean'),
 (109, 'Rey', 'Marcel'),
 (110, 'Cooperative', None),
 (111, 'Zafiropulo', 'Costa'),
 (112, 'Prebost', 'Gaston'),
 (113, 'Gomez', 'Rene'),
 (114, 'Brunet', 'Georges'),
 (115, 'Bordonado', 'Raymond'),
 (116, 'Imbert', 'Christian'),
 (117, 'Cooperative', None),
 (118, 'Cooperative', None),
 (119, 'Cooperative', None),
 (121, 'Cooperative', None),
 (122, 'Dupuy', 'Charles'),
 (123, 'Laurent', 'Pierre'),
 (124, 'Daurat Fort', 'Robert'),
 (125, 'Baldes', 'Jean'),
 (126, 'Jouffreau', 'Jean'),
 (127, 'Brumont', 'Alban'),
 (129, 'Barrere', 'Alfred')]

#### Exercise 2.7

What clients (buveurs) have bought at least one wine from 1980?

In [56]:
%%sql
SELECT DISTINCT c.NB, c.NOM, c.PRENOM
FROM client c, wine2 w2, sales2 s2
WHERE (s2.nb = c.nb) & (s2.nv = w2.nv) &( MILL = '1980')
ORDER BY c.NB;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin'),
 (8, 'Aragon', 'Louis'),
 (44, 'Gide', 'Andre'),
 (45, 'Giono', 'Jean'),
 (50, 'Lautreamont', None),
 (61, 'Mallarme', 'Stephane')]

#### Exercise 2.8

What clients (buveurs) have NOT bought any wine from 1980?

In [57]:
%%sql
SELECT DISTINCT NB, NOM, PRENOM FROM CLIENT WHERE NB NOT IN
(SELECT DISTINCT c.NB
FROM client c, wine2 w2, sales2 s2
WHERE (s2.nb = c.nb) & (s2.nv = w2.nv) &( MILL = '1980')
ORDER BY c.NB)
ORDER BY NB;

 * sqlite:///wine.db
Done.

[(1, 'Aristote', None),
 (3, 'Aron', 'Raymond'),
 (4, 'Apollinaire', 'Guillaume'),
 (5, 'Audiberti', 'Jacques'),
 (6, 'Arrabal', 'Fernando'),
 (7, 'Anouilh', 'Jean'),
 (9, 'Ajar', 'Emile'),
 (10, 'Andersen', 'Yann'),
 (11, 'Breton', 'Andre'),
 (12, 'Bataille', 'Georges'),
 (13, 'Barthes', 'Roland'),
 (14, 'Bory', 'Jean Louis'),
 (15, 'Baudelaire', 'Charles'),
 (16, 'Balzac', 'Honore de'),
 (17, 'Camus', 'Albert'),
 (18, 'Celine', 'Louis Ferdinand'),
 (19, 'Ciceron', None),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (22, 'Cocteau', 'Jean'),
 (23, 'Corneille', 'Pierre'),
 (24, 'Courrier', 'Paul Louis'),
 (25, 'Char', 'Rene'),
 (26, 'Diderot', 'Denis'),
 (27, 'Dumas', 'Alexandre'),
 (28, 'Dostoievsky', 'Fiodor'),
 (29, 'Fournier', 'Alain'),
 (30, 'La Fontaine', 'Jean de'),
 (31, 'Dante', None),
 (32, 'Eluard', 'Paul'),
 (33, 'Flaubert', 'Gustave'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (38, 'Montaigne', 'Michel de'),
 (39, 'Montesquieu', None),
 (40, 'Moliere', None),
 (41, 'Gauthier', 'Theophile'),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (48, 'Hardy', 'Thomas'),
 (49, 'Kafka', 'Franz'),
 (51, 'Lafargue', 'Paul'),
 (52, 'Carroll', 'Lewis'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de'),
 (59, 'Nietzsche', 'Friedrich'),
 (60, 'Ovide', None),
 (62, 'Proust', 'Marcel'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (75, 'Ronsard', 'Pierre'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Frans de'),
 (80, 'Sand', 'Georges'),
 (81, 'Sartre', 'Jean-Paul'),
 (82, 'Roussel', 'Rene'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (92, 'Verne', 'Jules'),
 (93, 'Virgile', None),
 (94, 'Zola', 'Emile'),
 (95, 'Zorn', 'Fritz'),
 (96, 'Wilde', 'Oscar'),
 (97, 'Vigny', 'Alfred de'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules'),
 (100, 'Woolf', 'Virginia')]

#### Exercise 2.9

What clients (buveurs) have bought ONLY wines from 1980?

In [122]:
%%sql
SELECT DISTINCT c.NB, c.NOM, C.PRENOM, w2.MILL
FROM client c, wine2 w2, sales2 s2
WHERE (s2.nb = c.nb) & (s2.nv = w2.nv)
ORDER BY c.NB
;

 * sqlite:///wine.db
Done.

[(1, 'Aristote', None, 1975),
 (2, 'Artaud', 'Antonin', 1980),
 (2, 'Artaud', 'Antonin', 1976),
 (2, 'Artaud', 'Antonin', 1979),
 (2, 'Artaud', 'Antonin', 1980),
 (2, 'Artaud', 'Antonin', 1976),
 (2, 'Artaud', 'Antonin', 1979),
 (3, 'Aron', 'Raymond', 1981),
 (3, 'Aron', 'Raymond', 1979),
 (3, 'Aron', 'Raymond', 1978),
 (3, 'Aron', 'Raymond', 1981),
 (3, 'Aron', 'Raymond', 1979),
 (3, 'Aron', 'Raymond', 1978),
 (3, 'Aron', 'Raymond', 1981),
 (3, 'Aron', 'Raymond', 1979),
 (3, 'Aron', 'Raymond', 1978),
 (4, 'Apollinaire', 'Guillaume', 1968),
 (5, 'Audiberti', 'Jacques', 1973),
 (5, 'Audiberti', 'Jacques', 1979),
 (5, 'Audiberti', 'Jacques', 1974),
 (5, 'Audiberti', 'Jacques', 1974),
 (5, 'Audiberti', 'Jacques', 1973),
 (5, 'Audiberti', 'Jacques', 1979),
 (5, 'Audiberti', 'Jacques', 1974),
 (5, 'Audiberti', 'Jacques', 1974),
 (5, 'Audiberti', 'Jacques', 1973),
 (5, 'Audiberti', 'Jacques', 1979),
 (5, 'Audiberti', 'Jacques', 1974),
 (5, 'Audiberti', 'Jacques', 1974),
 (6, 'Arrabal', 'Fernando', 1975),
 (7, 'Anouilh', 'Jean', 1978),
 (8, 'Aragon', 'Louis', 1980),
 (8, 'Aragon', 'Louis', 1976),
 (8, 'Aragon', 'Louis', 1980),
 (8, 'Aragon', 'Louis', 1976),
 (9, 'Ajar', 'Emile', 1975),
 (9, 'Ajar', 'Emile', 1978),
 (9, 'Ajar', 'Emile', 1975),
 (9, 'Ajar', 'Emile', 1978),
 (10, 'Andersen', 'Yann', 1973),
 (12, 'Bataille', 'Georges', 1977),
 (12, 'Bataille', 'Georges', 1975),
 (12, 'Bataille', 'Georges', 1977),
 (12, 'Bataille', 'Georges', 1975),
 (14, 'Bory', 'Jean Louis', 1977),
 (15, 'Baudelaire', 'Charles', 1943),
 (17, 'Camus', 'Albert', 1943),
 (19, 'Ciceron', None, 1943),
 (22, 'Cocteau', 'Jean', 1968),
 (24, 'Courrier', 'Paul Louis', 1968),
 (26, 'Diderot', 'Denis', 1968),
 (28, 'Dostoievsky', 'Fiodor', 1968),
 (30, 'La Fontaine', 'Jean de', 1914),
 (31, 'Dante', None, 1976),
 (33, 'Flaubert', 'Gustave', 1943),
 (38, 'Montaigne', 'Michel de', 1984),
 (40, 'Moliere', None, 1974),
 (41, 'Gauthier', 'Theophile', 1974),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (44, 'Gide', 'Andre', 1980),
 (45, 'Giono', 'Jean', 1980),
 (48, 'Hardy', 'Thomas', 1974),
 (49, 'Kafka', 'Franz', 1978),
 (50, 'Lautreamont', None, 1980),
 (52, 'Carroll', 'Lewis', 1976),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 1968),
 (60, 'Ovide', None, 1975),
 (61, 'Mallarme', 'Stephane', 1973),
 (61, 'Mallarme', 'Stephane', 1980),
 (62, 'Proust', 'Marcel', 1978),
 (75, 'Ronsard', 'Pierre', 1974),
 (80, 'Sand', 'Georges', 1974),
 (82, 'Roussel', 'Rene', 1972),
 (92, 'Verne', 'Jules', 1943),
 (94, 'Zola', 'Emile', 1976),
 (94, 'Zola', 'Emile', 1983),
 (96, 'Wilde', 'Oscar', 1978),
 (97, 'Vigny', 'Alfred de', 1974),
 (100, 'Woolf', 'Virginia', 1971),
 (100, 'Woolf', 'Virginia', 1983)]

In [96]:
%%sql
SELECT DISTINCT NB, NOM, PRENOM FROM CLIENT WHERE NB NOT IN(
SELECT DISTINCT c.NB
FROM client c, wine2 w2, sales2 s2
WHERE (s2.nb = c.nb) & (s2.nv = w2.nv) & (w2.MILL != 1980)
)
ORDER BY NB
;

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre'),
 (13, 'Barthes', 'Roland'),
 (16, 'Balzac', 'Honore de'),
 (18, 'Celine', 'Louis Ferdinand'),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (23, 'Corneille', 'Pierre'),
 (25, 'Char', 'Rene'),
 (27, 'Dumas', 'Alexandre'),
 (29, 'Fournier', 'Alain'),
 (32, 'Eluard', 'Paul'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (39, 'Montesquieu', None),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (44, 'Gide', 'Andre'),
 (45, 'Giono', 'Jean'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (50, 'Lautreamont', None),
 (51, 'Lafargue', 'Paul'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (59, 'Nietzsche', 'Friedrich'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Frans de'),
 (81, 'Sartre', 'Jean-Paul'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (93, 'Virgile', None),
 (95, 'Zorn', 'Fritz'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules')]

Done.

[(44, 'Gide', 'Andre'), (45, 'Giono', 'Jean'), (50, 'Lautreamont', None)]

#### Exercise 2.10

List all wines from 1980

In [63]:
%%sql
SELECT NV, CRU, MILL, DEGRE
FROM wine1
WHERE MILL = 1980
UNION
SELECT NV, CRU, MILL, DEGRE
FROM wine2
WHERE MILL = 1980

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 1980, 11.5),
 (4, 'Mercurey', 1980, 10.9),
 (16, 'Meursault', 1980, 12.1),
 (20, 'Cote de Brouilly', 1980, 12.1),
 (26, 'Chateau Corton Grancey', 1980, None),
 (28, 'Volnay', 1980, 11),
 (43, 'Fleurie', 1980, 11.4),
 (74, 'Arbois', 1980, 12),
 (78, 'Etoile', 1980, 12),
 (79, 'Seyssel', 1980, 11),
 (80, 'Seyssel', 1980, 11),
 (81, 'Cornas', 1980, 11.1),
 (82, 'Cornas', 1980, 11),
 (83, 'Saint Amour', 1980, 10),
 (84, 'Rasteau', 1980, 10),
 (85, 'Tavel', 1980, 11),
 (86, 'Tavel', 1980, 11),
 (87, 'Cotes de Provence', 1980, None)]

#### Exercise 2.11

What are the wines from 1980 bought by NB=2?

In [68]:
%%sql
SELECT DISTINCT w.NV, w.CRU, w.MILL, w.DEGRE
FROM wine2 w, client c, sales2 s2
WHERE (c.nb = s2.nb) & (w.nv = s2.nv) & (w.MILL = 1980) & (c.nb = 2)

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 1980, 11.5)]

#### Exercise 2.12

What clients (buveurs) have bought ALL the wines from 1980?

In [89]:
%%sql
SELECT NB, NOM, PRENOM FROM(
SELECT DISTINCT c.NB, c.NOM, c.PRENOM, count(w.NV) as cnv
FROM wine2 w, client c, sales2 s2
WHERE (c.nb = s2.nb) & (w.nv = s2.nv) & (w.MILL = 1980)
GROUP BY c.NB
ORDER BY count(w.NV) DESC)
WHERE cnv = 18;

 * sqlite:///wine.db
Done.

[(44, 'Gide', 'Andre')]